{#-
  Robot Framework resource file template.
  Contains shared variables and keywords.
-#}
*** Variables ***
{%- for var in resource.variables %}
{{ var.to_robot_line() }}
{%- endfor %}

{%- if resource.keywords %}

*** Keywords ***
{%- for kw_name, kw_steps in resource.keywords.items() %}

{{ kw_name }}
{%- for step in kw_steps %}
    {{ step.to_robot_line() }}
{%- endfor %}
{%- endfor %}
{%- endif %}
